.name {
    font-family: monospace;
    font-weight: 100;
}

.header {
    height: 100px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: absolute;
}

.name {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: larger;
    width: calc(90w);
}

.nav {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: larger;
    margin: auto;
}

a:link {
    text-decoration: none;
}

.login {
    margin: auto;
}

.background {
    background: linear-gradient(to bottom right, rgb(0, 153, 255), white);
    height: 100vh;
    width: 100vw;
}

.box {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    border-radius: 4px;
    right: 150px;
    top: 150px;
    box-shadow: 10px 10px 5px grey;
}

.main{
    font-family: monospace;
    height: 20px;
    margin: 40px;
    /* padding: 25px 25px; */
}

/* .sign{
    height: 50px;
    justify-content: center;
} */

.pass{
    border-radius: 10px;
    justify-content: center;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.email{
    border-radius: 10px;
    justify-content: center;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullname{
    border-radius: 10px;
    justify-content: center;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.info{
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: space-between;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}

#subtype{
    font-family: monospace;
}

.sub{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 70px;
}

#submit{
    background-color: rgb(82, 165, 243);
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}